In [1]:
import pandas as pd

In [2]:
#URL to fetch secondary data- grape variety by color
url="https://en.wikipedia.org/wiki/List_of_grape_varieties#Red_table_grapes"

In [3]:
#Reading the data from html into a list of tables
tables=pd.read_html(url)

In [4]:
#Creating data frames for each grape color
#Dataframe for red grapes
grapes_red_df=tables[0]
#Dataframe for white grapes
grapes_white_df=tables[1]

#Dataframe for rose' grapes
grapes_rose_df=tables[2]

#Splitting and tacking the names that are combined in the table to create a new row
grapes_red_df["Common Name(s)"]=grapes_red_df["Common Name(s)"].str.split("/")
grapes_white_df["Common Name(s)"]=grapes_white_df["Common Name(s)"].str.split("/")
grapes_rose_df["Common Name(s)"]=grapes_rose_df["Common Name(s)"].str.split("/")

grapes_red_df = (grapes_red_df['Common Name(s)'].apply(pd.Series)
                     .stack()
                     .reset_index(level=1, drop=True)
                     .to_frame('Common Name(s)'))
grapes_white_df = (grapes_white_df['Common Name(s)'].apply(pd.Series)
                     .stack()
                     .reset_index(level=1, drop=True)
                     .to_frame('Common Name(s)'))
grapes_rose_df = (grapes_rose_df['Common Name(s)'].apply(pd.Series)
                     .stack()
                     .reset_index(level=1, drop=True)
                     .to_frame('Common Name(s)'))


# grapes_white_df.explode("Common Name(s)").reset_index(drop=True)
grapes_red_df.head()

  Common Name(s)
0        Abbuoto
1       Abouriou
2  Alexandroouli
3      Akhasheni
4        Abrusco

In [11]:
grapes_white_df

    Common Name(s) grape_color
0        Adalmiina       white
1         Addoraca       white
2          Aidani        white
2          Aidini        white
2           Aedani       white
..             ...         ...
390          Zeusz       white
391   Zierfandler        white
391        Spätrot       white
392        Žilavka       white
393       Žlahtina       white

[542 rows x 2 columns]

In [5]:
#Assigning the grape_color column for red grapes
grapes_red_df["grape_color"]="red"

#Assigning the grape_color column for white grapes
grapes_white_df["grape_color"]="white"

#Assigning the grape_color column for rose
grapes_rose_df["grape_color"]="rose"

grapes_red_df.head()

  Common Name(s) grape_color
0        Abbuoto         red
1       Abouriou         red
2  Alexandroouli         red
3      Akhasheni         red
4        Abrusco         red

In [6]:
#Combining the three different grape color dataframes into one 
grape_color_df=pd.concat([grapes_red_df,grapes_white_df,grapes_rose_df])
grape_color_df=grape_color_df[["Common Name(s)","grape_color"]]
grape_color_df["grape_color"].value_counts()

white    542
red      531
rose       2
Name: grape_color, dtype: int64

In [7]:
#Dropping duplicated records
grape_color_df=grape_color_df.drop_duplicates()
#Finding if we have multiple records with same grape but different color
grape_color_df[grape_color_df.duplicated(subset=["Common Name(s)"],keep=False)]
#grape_color_df[grape_color_df["Common Name(s)"]=='Alexandroouli']

    Common Name(s) grape_color
34      Arnsburger         red
156         Cereza         red
222     Grignolino         red
332       Pignerol         red
368    Schönburger         red
27      Arnsburger       white
87          Cereza       white
170     Grignolino       white
275       Pignerol       white
320    Schönburger       white

In [8]:
#grape_color_df.to_csv('C:/Users/lilia/Desktop/grape_color_df.csv')
#grape_color_df.head()

In [9]:
# grape_color_df["Common Name(s)"]=grape_color_df["Common Name(s)"].str.split("/")
                                                                           
# new_df = grape_color_df.explode("Common Name(s)").reset_index(drop=True)

# new_df.head()

In [12]:
# grape_color_new_df = (grape_color_df['Common Name(s)'].apply(pd.Series)
#                      .stack()
#                      .reset_index(level=1, drop=True)
#                      .to_frame('Common Name(s)'))
# grape_color_new_df.shape
# grape_color_df.reset_index(inplace=True)
# rows=[]
# _ = grape_color_df.apply(lambda )

In [17]:
grape_color_df

        Common Name(s) grape_color
0              Abbuoto         red
1             Abouriou         red
2        Alexandroouli         red
3            Akhasheni         red
4              Abrusco         red
..                 ...         ...
391            Spätrot       white
392            Žilavka       white
393           Žlahtina       white
0    Agdam Gyzyl Uzumu        rose
1      Chardonnay Rose        rose

[1071 rows x 2 columns]

In [18]:
grape_color_df.to_csv('C:/Users/lilia/Desktop/grape_color_df3.csv')